# emacs autorecovery files
\#*
# vim temp files
*.swp
# user-specific files for certain extensions
ido.last
saveplace
recentf
places
.mc-lists.el
undo-tree-history/
autosaved-files/
auto-save-list/
# eshell history
eshell/history
eshell/lastdir
# melpa/elpa/etc
elpa/
# cached files for quicklisp
quicklisp/cache/
quicklisp/tmp/
# tramp file
tramp
# compiled files
*.elc
backups/
