[submodule "ESS"]
	path = ESS
	url = http://github.com/emacs-ess/ESS.git
	ignore = dirty
        branch = master
[submodule "OmniSharpServer"]
	path = OmniSharpServer
        url = https://github.com/nosami/OmniSharpServer.git
        ignore = dirty
        branch = master
[submodule "emacs-color-themes"]
	path = emacs-color-themes
	url = git@github.com:cosmicexplorer/emacs-color-themes.git
        ignore = dirty
        branch = master
