# emacs autorecovery files
\#*
# vim temp files
*.swp
# user-specific files for certain extensions
ido.last
saveplace
recentf
places
saved-files
no-beautify
eshell-output
.mc-lists.el
undo-tree-history/
games/
autosaved-files/
auto-save-list/
# melpa/elpa/etc
elpa/
# tramp file
tramp
# compiled files
*.elc
backups/
# request folder, not sure why this exists at all lol but whatever
request/
# user-customizable variables
custom-vars.el
# quicklisp is a per-user setup
quicklisp/
node_modules/
