# emacs autorecovery files
\#*
# vim temp files
*.swp
# user-specific files for certain extensions
ido.last
saveplace
recentf
places
saved-files
no-beautify
eshell-output
shell-output
games/
# melpa/elpa/etc
elpa/
# tramp file
tramp
# compiled files
*.elc
# request folder, not sure why this exists at all lol but whatever
request/
# user-customizable variables
custom-vars.el
# quicklisp is a per-user setup
quicklisp/
node_modules/
server/
url/
quicklisp.lisp
ensime/
abbrev_defs
network-security.data
.cask
srecode-map.el
package-lock.json
/installed-packages~
.emacs.desktop*
