[submodule "ESS"]
        path = ESS
        url = https://github.com/emacs-ess/ESS.git
        ignore = dirty
        branch = master
[submodule "emacs-color-themes"]
        path = emacs-color-themes
        url = https://github.com/cosmicexplorer/emacs-color-themes.git
        branch = master
[submodule "org-mode"]
        path = org-mode
        url = git://orgmode.org/org-mode.git
        ignore = dirty
        branch = master
[submodule "emacs-helm-ag"]
        path = emacs-helm-ag
        url = https://github.com:/cosmicexplorer/emacs-helm-ag.git
        branch = play
