[submodule "emacs-color-themes"]
        path = emacs-color-themes
        url = git@github.com:cosmicexplorer/emacs-color-themes
        branch = master
[submodule "helm-rg"]
        path = helm-rg
        url = git@github.com:cosmicexplorer/helm-rg
[submodule "warning-words"]
        path = warning-words
        url = git@github.com:cosmicexplorer/warning-words
